
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-left: 1.5rem;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    font-weight: 500;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 63px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.Logo {
    width: 225px;
    height: 40px;
}

.buttons {
    display: flex;
    gap: 43px;
}

.Sgn, .CFA {
    border-radius: 8px;
    border: 1px solid;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.Sgn {
    width: 145px;
    height: 57px;
    background-color: #fff;
    cursor: pointer;
}

.CFA {
    padding: 1rem;
    width: 185px;
    height: 57px;
    background-color: #0C1825;
    color: white;
    cursor: pointer;
}

#bar {
    display: none;
}


.first_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 700px;
}

.article {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inner_article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero_text {
    font-size: 56px;
    font-weight: 700;
}

.article p {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.6;
}

#apple, #android {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 180px;
    height: 57px;
    border-radius: 8px;
    justify-content: center;
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

& :hover{
    transform: translateY(-1px);
    transition: all 500ms ease-out;
}


#apple img, #android img {
    width: 20px;
    height: 20px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.image_section {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    animation: bounce 4s infinite;

    &:hover{
        animation-play-state: paused;
    }
}

.imbg1 {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 570px;
    top: -18rem;
    right: 9rem;
}

   
    

   


@keyframes bounce {
    0%,
    100% {
        transform: translateY(-7%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.imbg2 {
    position: absolute;
    z-index: 2;
    width: 340px;
    height: 500px;
    bottom: -8rem;
}


 .ten-dots {
    position: relative;
    top: 2rem;
    left: 6.5rem;
    z-index: 3;
}

.investify-icon {
    position: relative;
    top: 5rem;
    left: 20rem;
    z-index: 3;
}

.myrent-icon {
    position: relative;
    top: -5.5rem;
    left: -14rem;
    z-index: 3;
}

.four-corners {
    position: relative;
    top: -19.5rem;
    right: 24rem;
    z-index: 4;
}

.circle-icon {
    position: relative;
    top: -15rem;
    left: -6.3rem;
    z-index: 1;
} 


@media (max-width: 768px) {
    #bar {
        display: block;
        font-size: 1.5rem;
    }

    .four-corners {
        display: none;
    }

    nav {
        display: none;
    }

    .buttons {
        display: none;
    }

    .Logo {
        width: 150px;
        height: 30px;
    }

    .first_section {
        flex-direction: column;
        text-align: center;
    }

    .article, .image_section {
        width: 100%;
    }

    .image_section {
        margin-top: 20px;
    }

    .ten_dots, .investify_icon, .myrent_icon, .square_corners, .circle_behind {
        top: initial;
        left: initial;
        position: static;
        margin: auto;
    }

    .hero_text{
        font-size: 35px;
        margin-top: 2rem;
    }

    .article p{
        font-size: 11px;
        margin-top: 0.5rem;
    }

    .CFA{
        margin-left: 3rem;
    }

    .Sgn{
        width: 145px;
        height: 57px;
        background-color: #fff;
        cursor: pointer;
        margin-left: 3rem;
    }

    .buttons2{
        display: flex;
        justify-content: center;
    }
}
